@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

button {
  border: none;
  margin: 0 1vw;
  font-size: large;
  border-radius: 10px;
  font-family: 'Mukta', sans-serif;
  cursor: pointer;
}

.allWrap {
  background-color: aqua;
  width: 20vw;
  padding: 1vw 3vw;
  border-radius: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.allItemsWrap {
  height: 75%;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /*IE and Edge */
  scrollbar-width: none;  /*Firefox */
}

.allItemsWrap::-webkit-scrollbar { /* Chrome, Safari and Opera */
  display: none; 
} 

.addItemsWrap {
  display: flex;
}

input {
  font-size: larger;
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
}

.itemsWrap {
  background-color: rgba(128, 128, 128, 0.594);
  padding: 0 1vh 1vw;
  margin: 1vh 0;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.items {
  font-size: larger;
  font-family: 'Mukta', sans-serif;
  margin: 1vh;
}

.buttonsWrap {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.tabs {
  background: none;
  color: gray;
}

.selectedTab {
  text-decoration: underline;
}

.doneButton {
  background-color: rgba(14, 151, 14, 0.498);
}

.deleteButton {
  background-color: rgba(219, 4, 4, 0.545);
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.hidden {
  display: none;
}